.st0 {
  fill: #1da36b;
  stroke: #ffffff;
  stroke-width: 0.4411;
  stroke-miterlimit: 1.7644;
}
.st1 {
  fill: #1e96d1;
  stroke: #ffffff;
  stroke-width: 0.4411;
  stroke-miterlimit: 1.7644;
}
.st2 {
  fill: #bf6020;
  stroke: #ffffff;
  stroke-width: 0.4411;
  stroke-miterlimit: 1.7644;
}
.st3 {
  fill: #ac1d3b;
  stroke: #ffffff;
  stroke-width: 0.4411;
  stroke-miterlimit: 1.7644;
}
.st4 {
  fill: #ac1d3b;
}
.st5 {
  fill: #080b0c;
}
.st6 {
  fill: #1da36b;
}
.st7 {
  fill: #bf6020;
}
.st8 {
  fill: none;
  stroke: #7f8080;
  stroke-miterlimit: 10;
}
.st9 {
  fill: #ffffff;
}
.st10 {
  fill: #040000;
}
.st11 {
  font-family: "NanumGothicExtraBold";
}
.st12 {
  font-size: 8.9691px;
}
.st13 {
  font-size: 5px;
}
.st14 {
  font-size: 6px;
}
.st15 {
  font-size: 4.6148px;
}
.st16 {
  font-size: 4.3541px;
}
.st17 {
  font-size: 5.4455px;
}
.st18 {
  font-size: 6.5px;
}
.st19 {
  font-size: 5.6104px;
}
.st20 {
  font-size: 4.0146px;
}
.st21 {
  font-size: 4.4521px;
}
.st22 {
  font-size: 4.8136px;
}
.st23 {
  font-size: 6.9529px;
}
.st24 {
  font-size: 4px;
}
.st25 {
  font-size: 3.9154px;
}
.st26 {
  font-size: 4.9119px;
}
.st27 {
  font-size: 5.0609px;
}
.st28 {
  font-size: 4.745px;
}
.st29 {
  font-size: 6.4411px;
}
.st30 {
  font-size: 5.981px;
}
.st31 {
  font-size: 6.111px;
}
.st32 {
  font-size: 5.521px;
}
.st33 {
  font-size: 6.7476px;
}
.st34 {
  font-size: 6.2303px;
}
.st35 {
  font-size: 5.6432px;
}
.st36 {
  font-size: 4.7027px;
}
.st37 {
  font-size: 6.1135px;
}
.st38 {
  font-size: 5.5402px;
}
.st39 {
  font-size: 6.6551px;
}
.st40 {
  font-size: 7.2097px;
}
.st41 {
  font-size: 6.1005px;
}
.st42 {
  font-size: 7.7643px;
}
.st43 {
  font-size: 7.4487px;
}
.st44 {
  font-size: 4.3563px;
}
.st45 {
  font-size: 4.763px;
}
.st46 {
  font-size: 4.2787px;
}
.st47 {
  font-size: 4.1821px;
}
.st48 {
  font-size: 4.3383px;
}
.st49 {
  font-size: 4.0931px;
}
.st50 {
  font-size: 5.1192px;
}
.st51 {
  font-size: 4.8062px;
}
.st52 {
  font-size: 5.4282px;
}
.st53 {
  font-size: 7px;
}
.st54 {
  font-size: 5.3774px;
}
.st55 {
  font-size: 5.3892px;
}
.st56 {
  font-size: 4.4539px;
}
.st57 {
  fill: #0caa6e;
}
.st58 {
  fill: #808080;
}
.st59 {
  fill: #0ea0e2;
}
.st60 {
  fill: #b60c3d;
}
.st61 {
  fill: #c7621e;
}
