.st0 {
  fill: #ffffff;
}
.st1 {
  fill: #000002;
}
.st2 {
  font-family: "NanumGothicBold";
}
.st3 {
  font-size: 17.8832px;
}
.st4 {
  font-size: 17.2049px;
}
.st5 {
  fill: none;
  stroke: #10a5e0;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st6 {
  fill: none;
  stroke: #b50d41;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st7 {
  fill: none;
  stroke: #c66620;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st8 {
  fill: none;
  stroke: #0ea86d;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st9 {
  fill: none;
  stroke: #10a5e0;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
